* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  font-family: "Montserrat", sans-serif;
}

fieldset {
  border: none;
}

.l-page {
  background-color: #F9F9F9;
  display: flex;
  height: 100vh;
  min-height: 500px;
}

.l-profile-navbar {
  background-color: #211F1F;
  border-radius: 4px;
  display: block;
  padding: 16px;
  position: absolute;
  right: 88px;
  top: 24px;
}
.l-profile-navbar .link {
  border-radius: 4px;
  color: #B2B2B2;
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  min-width: 160px;
  padding: 8px;
  text-transform: uppercase;
}
.l-profile-navbar .link:hover {
  background-color: rgba(51, 51, 51, 0.2);
  color: white;
}
.l-profile-navbar.is-hide {
  display: none;
}

.l-sign-in-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 344px;
  padding: 48px;
  position: relative;
}

.l-sign-in-form {
  margin-top: 24px;
}

.l-more-login-options {
  display: flex;
  gap: 6px;
  margin: 8px 0 14px;
}

.l-checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.l-btn-submit {
  bottom: 80px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.l-link-container {
  bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  text-align: center;
}

.c-toggle-profile-navbar {
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 14px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  cursor: pointer;
  padding: 5px 8px;
  position: absolute;
  right: 32px;
  top: 24px;
}
.c-toggle-profile-navbar .icon {
  margin-top: 2px;
  width: 24px;
}

.c-logo {
  margin-bottom: 48px;
  width: 96px;
}

.c-form-title {
  color: #222;
  font-size: 1.2rem;
}

.c-user-credentials-field {
  background-color: red;
  position: relative;
}
.c-user-credentials-field span {
  color: #868686;
  font-size: 0.6rem;
  font-weight: 700;
  left: 16px;
  position: absolute;
  text-transform: uppercase;
  top: -2px;
  transition: 0.1s;
}
.c-user-credentials-field input {
  background-color: #EDEDED;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #333;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
  outline: none;
  padding-top: 20px;
  padding: 6px;
  width: 100%;
}
.c-user-credentials-field input:focus ~ span, .c-user-credentials-field input:valid ~ span {
  left: 6px;
  top: -12px;
}

.c-button-link {
  align-items: center;
  background-color: chocolate;
  border-radius: 4px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 6px 8px;
}
.c-button-link .icon {
  width: 14px;
}
.c-button-link--facebook {
  background-color: #1877f2;
}
.c-button-link--facebook:hover {
  background-color: #0b5fcc;
}
.c-button-link--google {
  background-color: #fff;
}
.c-button-link--google:hover {
  background-color: #f2f2f2;
}
.c-button-link--apple {
  background-color: #000;
}
.c-button-link--apple .icon {
  width: 13px;
}
.c-button-link--apple:hover {
  background-color: #262626;
}
.c-button-link--xbox {
  background-color: #107C10;
}
.c-button-link--xbox:hover {
  background-color: #0a4f0a;
}

.c-wallpaper {
  flex: 1;
  background-image: url("../Images/wallpaper-login-lol.jpg");
  background-position: center;
  background-size: cover;
}

.c-input-checkbox-field {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  font-weight: 500;
  gap: 4px;
}
.c-input-checkbox-field input {
  appearance: none;
  background-color: #EDEDED;
  border-radius: 2px;
  cursor: pointer;
  height: 13px;
  position: relative;
  width: 13px;
}
.c-input-checkbox-field input:checked {
  background-color: #D13639;
}
.c-input-checkbox-field input:checked::after {
  border-width: 0 2px 2px 0;
  border: solid #fff;
  content: "";
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg);
  width: 3px;
}

.c-btn-submit {
  background-color: #D13639;
  border-radius: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 6px 8px;
}
.c-btn-submit .icon {
  color: white;
  display: block;
  font-size: 32px;
}
.c-btn-submit:hover, .c-btn-submit:active {
  background-color: #c12c2f;
}
.c-btn-submit:disabled {
  background-color: transparent;
  border-color: #EDEDED;
}
.c-btn-submit:disabled .icon {
  color: #EDEDED;
}

.c-link {
  color: #B2B2B2;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.c-link:hover {
  color: #222;
}

/*# sourceMappingURL=main.css.map */
