@font-face {
  font-family: "Spiegel";
  font-weight: normal;
  src: url("../fonts/Spiegel_TT_Regular.ttf") format("truetype"), url("../fonts/Spiegel-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Spiegel";
  font-weight: 500;
  src: url("../fonts/Spiegel_TT_SemiBold.ttf") format("truetype"), url("../fonts/Spiegel-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Spiegel";
  font-weight: bold;
  src: url("../fonts/Spiegel_TT_Bold.ttf") format("truetype"), url("../fonts/Spiegel_TT_Bold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  font-family: "Spiegel", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
}

::-ms-reveal {
  display: none;
}

:focus-visible {
  outline: 2px solid #333333;
  outline-offset: 3px;
  transition: 100ms;
}

.l-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  background-color: #F9F9F9;
  padding: 48px;
  width: 400px;
  min-height: 100vh;
  height: -moz-fit-content;
  height: fit-content;
}

.l-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
  width: 100%;
}

.l-credential-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.l-text-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.l-other-login-options {
  display: flex;
  gap: 10px;
}

.l-checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: -8px;
}

.l-submit-button-container {
  display: flex;
  justify-content: center;
  align-items: end;
  flex: 1;
  margin-top: 40px;
}

.l-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.c-logo {
  width: 108px;
}

.c-title {
  color: #0A0A0A;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.025em;
  line-height: 2.4rem;
  text-align: center;
}

.c-text-input-field {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #EDEDED;
  border: 3px solid transparent;
  border-radius: 6px;
  padding: 6px 8px;
  width: 100%;
  cursor: text;
}
.c-text-input-field span {
  position: absolute;
  top: 50%;
  left: 16px;
  color: #636363;
  font-size: 0.8rem;
  font-weight: 700;
  transform: translateY(-50%);
  transition: 200ms ease;
}
.c-text-input-field input {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #333333;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  outline: none;
  padding-top: 16px;
  width: 100%;
}
.c-text-input-field .btn-icon {
  display: none;
  background: transparent;
  height: -moz-max-content;
  height: max-content;
  border: none;
  padding: 4px;
}
.c-text-input-field .btn-icon img, .c-text-input-field .btn-icon svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.c-text-input-field .btn-icon:focus-visible {
  outline: 3px solid #333333;
  border-radius: 3px;
}
.c-text-input-field:hover {
  background-color: #E8E8E8;
}
.c-text-input-field:focus-within .btn-icon {
  display: block;
}
.c-text-input-field:focus-within:not(:has(.btn-icon:focus-visible)) {
  border-color: #333333;
  background: transparent;
}
.c-text-input-field:has(input:not(:-moz-placeholder-shown)) > span {
  top: 12px;
  left: 8px;
  font-size: 0.7rem;
}
.c-text-input-field:has(input:not(:placeholder-shown)) > span, .c-text-input-field:has(input:focus) > span, .c-text-input-field:focus-within:not(:has(.btn-icon:focus-visible)) > span {
  top: 12px;
  left: 8px;
  font-size: 0.7rem;
}

.c-error-message {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #522F5D;
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 4px;
}
.c-error-message .icon {
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}

.c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 6px;
  border: 2px solid black;
  border-radius: 4px;
}
.c-btn .icon {
  width: 16px;
  height: 16px;
}
.c-btn--full {
  width: 100%;
}
.c-btn--facebook {
  background-color: #1877F2;
  border-color: #0d6ae4;
}
.c-btn--facebook:hover {
  background-color: #0d6ae4;
}
.c-btn--google {
  background-color: white;
  border-color: #f2f2f2;
}
.c-btn--google:hover {
  border-color: #B2B2B2;
  background-color: #f2f2f2;
}
.c-btn--apple {
  background-color: black;
  border-color: #1a1a1a;
}
.c-btn--apple:hover {
  background-color: #1a1a1a;
}
.c-btn--xbox {
  background-color: #107C10;
  border-color: #0d650d;
}
.c-btn--xbox:hover {
  background-color: #0d650d;
}
.c-btn--submit {
  padding: 8px;
  border-radius: 21px;
  background-color: #D13639;
  border: 3px solid #D13639;
  color: #F9F9F9;
}
.c-btn--submit .icon {
  width: 48px;
  height: 48px;
}
.c-btn--submit:hover {
  background-color: #BC252A;
  border-color: #BC252A;
}
.c-btn--submit[aria-disabled=true] {
  background: transparent;
  border-color: #E8E8E8;
  color: #E8E8E8;
  cursor: context-menu;
}
.c-btn:focus-visible {
  outline: 3px solid #333333;
  outline-offset: 3px;
}

.c-checkbox-input-field {
  display: flex;
  align-items: center;
  gap: 6px;
  width: -moz-max-content;
  width: max-content;
}
.c-checkbox-input-field input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  background: #E8E8E8;
  border-radius: 3px;
  cursor: pointer;
  height: 14px;
  width: 14px;
}
.c-checkbox-input-field input:hover {
  background: #B8B8B8;
}
.c-checkbox-input-field input:checked {
  background: #D13639;
}
.c-checkbox-input-field input:checked:hover {
  background: #BC252A;
}
.c-checkbox-input-field input:checked::after {
  content: "";
  position: absolute;
  top: 1.9px;
  left: 4.6px;
  border: 1px solid #F9F9F9;
  border-width: 0 2px 2px 0;
  width: 3px;
  height: 6px;
  transform: rotate(45deg);
}
.c-checkbox-input-field span {
  color: #211F1F;
  font-size: 0.825rem;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.c-link {
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.025em;
  color: #B2B2B2;
}
.c-link:hover, .c-link:focus-visible {
  color: #0A0A0A;
}

.c-wallpaper {
  position: fixed;
  top: 0;
  left: 400px;
  background-image: url("../images/wallpaper-login-lol.jpg");
  background-position: center;
  background-size: cover;
  width: calc(100vw - 400px);
  height: 100%;
}

.is-visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.is-input-invalid {
  background-color: #EED6F5;
}
.is-input-invalid span {
  color: #522F5D;
}
.is-input-invalid:hover, .is-input-invalid:focus-within {
  background-color: #EED6F5 !important;
}
.is-input-invalid:focus-within:not(:has(.btn-icon:focus-visible)) {
  border-color: #BA27E7 !important;
}/*# sourceMappingURL=main.css.map */