@use 'variables' as var;

.c-logo {
    margin-bottom: 48px;
    width: 108px;
}

.c-title {
    font-family: 'Spiegel', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.025em;
    line-height: 2.4rem;
    text-align: center;
}

.c-text-input-field {
    position: relative;
    display: flex;
    gap: 4px;
    background-color: #EDEDED;
    border-radius: 8px;
    border: 2.5px solid transparent;
    padding: 6px 8px;
    width: 100%;
    cursor: text;

    span {
        position: absolute;
        top: 50%;
        left: 16px;
        // color: map-get($colors, 'dark-gray');
        font-size: .8rem;
        font-weight: 700;
        transform: translateY(-50%);
        transition: 200ms ease;
    }

    input {
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid transparent;
        color: #333;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .5px;
        outline: none;
        padding-top: 16px;
        width: 100%;

        &:focus ~ span, &:valid ~ span {
            top: -12px;
            left: 6px;
        }
    }

    .btn-icon {
        display: none;
        border: none;
        padding: 4px;   
    }

    .btn-icon img, .btn-icon svg {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    &:focus-within {
        border-color: black;

        .btn-icon {
            display: block;
        }
    }

    &:has(input:not(:placeholder-shown)) > span, &:focus-within > span {
        top: 12px;
        left: 8px;
        font-size: 0.7rem;
    }
}

.c-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px;
    border: 3px solid transparent;
    border-radius: 4px;
    width: 100%;

    .icon {
        width: 21px;
        height: 21px;
    }

    &--facebook {
        background-color: map-get(var.$colors, facebook);
        border-color: darken(map-get(var.$colors, facebook), 5);
        
    }

    &--google {
        background-color: white;
        border-color: darken(white, 5);
    }

    &--apple {
        background-color: black;
        border-color: darken(black, 5);
    }

    &--xbox {
        background-color: map-get(var.$colors, xbox);
        border-color: darken(map-get(var.$colors, xbox), 5)
    }
}

.c-checkbox-input-field {
    align-items: center;
    display: flex;
    font-size: .8rem;
    font-weight: 500;
    gap: 4px;

    input {
        appearance: none;
        // background-color: map-get($colors, 'light-gray');
        border-radius: 2px;
        cursor: pointer;
        height: 13px;
        position: relative;
        width: 13px;

        &:checked {
            // background-color: map-get($colors, 'riot-color');
        }

        &:checked::after {
            border: solid #fff;
            border-width: 0 2px 2px 0;
            content: "";
            height: 7px;
            left: 4px;
            position: absolute;
            top: 1px;
            transform: rotate(45deg);
            width: 3px;
        }
    }
}

.c-link {
    // color: map-get($colors, 'medium-gray');
    font-size: .6rem;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;

    &:hover {
        color: #222;
    }
}

.c-toggle-navigation {
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 14px;
    border: 1px solid #3333;
    cursor: pointer;
    padding: 5px 8px;
    position: absolute;
    right: 32px;
    top: 24px;

    .icon {
        margin-top: 2px;
        width: 24px;
    }
}

.c-wallpaper {
    background: {
        image: url('../images/wallpaper-login-lol.jpg');
        position: center;
        size: cover;
    };
}