* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
}

fieldset {
    border: none;
}