@use 'variables' as var;

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    font-family: 'Spiegel', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

fieldset {
    border: none;
}

button {
    cursor: pointer;
}

::-ms-reveal {
    display: none;
}

:focus-visible {
    outline: 2px solid map-get(var.$colors, gray-600);
    outline-offset: 3px;
    transition: 100ms;  
}