@use 'variables' as var;

.l-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
    background-color: map-get(var.$colors, bgcolor);
    padding: 48px;
    width: var.$form-content-width;
    min-height: 100vh;
    height: fit-content;
}

.l-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
    width: 100%;
}

.l-credential-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.l-other-login-options {
    display: flex;
    gap: 10px;
}

.l-checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: -8px;
}

.l-submit-button-container {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1;
    margin-top: 40px;
}

.l-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

// .l-navigation-container {

// }

.l-profile-navigation {
    border-radius: 4px;
    display: block;
    padding: 16px;
    position: absolute;
    right: 88px;
    top: 24px;
    
    .link {
        border-radius: 4px;
        display: block;
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: .8px;
        min-width: 160px;
        padding: 8px;
        text-transform: uppercase;

        &:hover {
            background-color: #3333;
            color: white;
        }
    }

    &.is-hide {
        display: none;
    }
}