
@use 'variables' as *;

.l-page {
    background-color: map-get($colors, 'background');
    display: flex;
    height: 100vh;
    min-height: 500px;
}

.l-profile-navbar {
    background-color: map-get($colors, 'profile-navbar-background');
    border-radius: 4px;
    display: block;
    padding: 16px;
    position: absolute;
    right: 88px;
    top: 24px;
    
    .link {
        border-radius: 4px;
        color: map-get($colors, 'medium-gray');
        display: block;
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: .8px;
        min-width: 160px;
        padding: 8px;
        text-transform: uppercase;

        &:hover {
            background-color: #3333;
            color: white;
        }
    }

    &.is-hide {
        display: none;
    }
}

.l-sign-in-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 344px;
    padding: 48px;
    position: relative;
}

.l-sign-in-form {
    margin-top: 24px;
}

.l-more-login-options {
    display: flex;
    gap: 6px;
    margin: 8px 0 14px;
}

.l-checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.l-btn-submit {
    bottom: 80px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.l-link-container {
    bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    text-align: center;
}