@use 'variables' as var;

.is-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.l-input-validation-container .error {
    display: none;
}

.l-input-validation-container:has(.is-input-invalid) {
    .error {
        display: flex;
    }

    .input-field {
        background-color: map-get(var.$colors, error-light);

        span {
            color: map-get(var.$colors, error-dark);
        }

        &:hover, &:focus-within {
            background-color: map-get(var.$colors, error-light) !important;
        }
    
        &:focus-within:not(:has(.btn-icon:focus-visible)) {
            border-color: map-get(var.$colors, error) !important;
        }
    }
}

.c-dropdown-menu:has(.menu-is-expanded) .list-options {
    display: block;
}