@font-face {
    font-family: 'Spiegel';
    font-weight: bolder;
    src: 
        url('../fonts/Spiegel_TT_Bold.ttf') format('truetype'),
        url('../fonts/Spiegel_TT_Bold.otf') format("opentype"),
}

$colors: (
    bgcolor: #F9F9F9,
    facebook: #1877F2,
    xbox: #107C10,

    highlight: #D13639,
    highlight-dark: #BC252A,

    error: #BE29CC,
    error-light: #E9BEEE,
    error-lighter: #F3E3F5,
)