@font-face {
    font-family: 'BeaufortforLOL';
    font-weight: bold;
    src: 
        url('fonts/BeaufortforLOL-Bold.ttf') format('truetype'),
        url('fonts/BeaufortforLOL-Bold.otf') format("opentype"),
}

$colors: (
    'apple-color': #000,
    'background': #F9F9F9,
    'dark-gray': #868686,
    'facebook-color': #1877f2,
    'google-color': #fff,
    'light-gray': #EDEDED,
    'medium-gray': #B2B2B2,
    'profile-navbar-background': #211F1F,
    'riot-color': #D13639,
    'xbox-color': #107C10,
)