@font-face {
    font-family: 'Spiegel';
    font-weight: bolder;
    src: 
        url('../fonts/Spiegel_TT_Bold.ttf') format('truetype'),
        url('../fonts/Spiegel_TT_Bold.otf') format("opentype"),
}

$colors: (
    'apple-color': #000,
    'background': #F9F9F9,
    'dark-gray': #868686,
    'facebook-color': #1877f2,
    'google-color': #fff,
    'light-gray': #EDEDED,
    'medium-gray': #B2B2B2,
    'profile-navbar-background': #211F1F,
    'riot-color': #D13639,
    'xbox-color': #107C10,
)